@font-face {
    font-family: "Molot";
    src: url('molot.ttf');
}

h1{
   font-family: "Molot";
    text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
    color: #ffffff;
    float: leftS;
}




a {


color:lightblue ;
}

a:link {
    font-weight: bold;
    text-decoration: none;
    font-family: "Molot";
    color: lightblue;
    padding: 0 15px;
}

img{
    width : 250px;
    height : 250px;
    position: absolute;
    left: 700px;
    top: 200px;
    }

html{
    background-color: rgb(102, 105, 104);
}

body{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: georgia;
    line-height: 2;
    border: black solid 1px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #04212f;
}   

#louis{
    display: none;
}

#corentin{
    display: none;
}

#walid{
    display: none;
}

body {
  font-family: sans-serif ;
  color : whitesmoke;
 
}


