h1{
    text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
    color: #ffffff;
    float: leftS;
} 


a:link {
    font-weight: bold;
    text-decoration: none;
    color: #191970;
    padding: 0 15px;
}

.ancien_prix {
    color: red;
    text-decoration:line-through;
}

.nouveau_prix {
    color: green;
}

.image {
    width : 150px;
    height : 150px;
    }

    html{
        background-color: rgb(102, 105, 104);
    }
    body{
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
        font-family: georgia;
        line-height: 2;
        border: black solid 1px;
        padding-left: 5%;
        padding-right: 5%;
        background-color: rgb(10, 12, 44);
    }   
    
    #contacter {
        box-shadow: 3px 4px 0px 0px #1564ad;
        background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
        background-color:#79bbff;
        border-radius:42px;
        border:1px solid #337bc4;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:19px;
        font-weight:bold;
        padding:15px 65px;
        text-decoration:none;
        text-shadow:0px 1px 0px #528ecc;
        position: absolute;
        left: 400px;
    }
    #contacter:hover {
        background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
        background-color:#378de5;
    }
    #contacter:active {
        position:relative;
        top:2px;
    }
    

#contacter{
    position: relative;
    bottom: 10%;
}

#promo{
    border:2px solid #5c3566;
    width: 300px;
    background-color: aliceblue;
}

#meilleures_ventes{
    width: 300px;
    border:2px solid #5c3566;
    position: absolute;
    left: 600px;
    top: 240px;
    background-color: aliceblue;
}

#categories{
    background-color: aliceblue;
    border:2px solid #5c3566;
}

#categories a:link:hover{
    border: solid 1px black;
}

#connexion{
    position: absolute;
    left: 950px;
    top: 100px;
}

#form1{
    display: none;
}

footer{
    background-color: rgb(108, 158, 160);
}

fieldset{
    border: 1px solid rgb(8, 1, 29);
}

input:focus {
    background: #eaeaea;
  }

